:root {
  /* --text-color: #fff; */
  --background-color: #ed8b9e;
  --accent-color: #a1e1dc;
  --icons-color: rgb(152, 187, 201);
  --bodybackground-color: #a1e1dc;
}

body { 
  margin: 0;
  background-color: var(--bodybackground-color);
  font-family: 'STIX Two Math';
  background-image: url(/image/back-deco.png);

}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 16px 12px;
  font-family: 'STIX Two Math';
  font-weight: 600;
  color: #fff;
}
.navbar__logo {
    position: sticky;
    margin-left: 2%;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0%;
  padding-left: 0;
}

.navbar__menu li {
  padding: 12px 24px;
}
.navbar__menu li:hover {
  background-color: #a1e1dc;
  border-radius: 3px;
}
.navbar__icons {
  list-style: none;
  display: flex;
  color: #fff;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
  margin: 0;
}
.navbar__toggleBtn {
  display: none;
  color: #fff;
  position: absolute;
  right: 30px;
  font-size: 20px;
}

.btnLogin {
    margin: 0;
    color: #fff;
    border: 1px solid #fff;
    background-color: #ed8b9e;
  }
/*768 이하로 줄어들면 내비바*/
@media screen and (max-width: 789px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    height: 100%;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__icons {
    justify-content: center;
    width: 100%;
  }
  .navbar__toggleBtn {
    display: block;
  }
}

.navbar__menu.active,
.navbar__icons.active {
  display: flex;
}

  /*댕댕여지도*/

  
  #main {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #7c7c7c24;
  }
  .main-map {
    width: 800px ;
    height: 700px auto;

  }
  .dogicon {
    display: flex;
    position: absolute;
    width: 10%;
    margin: 13px 5%;
  
  }
  
  .main-title {
    font-size: 44px;
    font-weight: bolder;
    color: #fff;
    font-family: 'Gaegu', cursive !important;
    margin: 18px;

  }
  
  .main-side{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    margin: 40px 0 10px 0;
  }
  
  .main-pin {
    text-align: center;

  }
  .main-pin > a > img {
    width: 90px;
    transform: scale(1.0); /* 이미지 확대 */
    transition: transform .5s; /* 시간 설정 */
  }
  
  .main-pin > a > img:hover {
    transform: scale(1.5);   /* 이미지 확대 */
    transition: transform .5s;  /* 시간 설정 */
  }

  /* 모바일 화면 */
  @media only screen and (max-width: 786px) {
    #main {
      display: block;
      /* border-bottom: 5px solid #ed8b9e; */
      background-color: #7c7c7c24;
      height: 580px;
    }
  
    .main-map {
      width: 100%;
      height: 300px;

    }

  
    .main-side{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-around;
    }
  
    .main-title {
      font-size: 33px;
      font-weight: 800;
      color: #fff;
      margin: 24px;
    }
  
    .main-pin {
      text-align: center;
      display: inline-flex; /* 변경된 부분 */
    }
  
    .main-pin > a > img {
      width: 70px;
      transform: scale(1.0);
      transition: transform .5s;
    }
  
    .main-pin > a > img:hover {
      transform: scale(1.5);
      transition: transform .5s;
    }
  }

  .main-about {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  #main-btn {
    color: #484848;
    border: none ;
    border-radius: 30px;
    background-color: #e7e3ce;
    width: 200px;
    height: 50px;
    position: static;
    top: 0%;
    margin: 0px 15px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Gaegu', cursive !important;
 
  }
  
  .main-about-img {
    width: 70% auto;
    position: relative;
  }

@media screen and (max-width:786px) {
    
}
  
  
    

  
  
  /*댕댕케어 슬라이드*/
  .caremain {
    position: relative;
    text-align: center;
  }
  
  .care-img {
    display: block;
    margin: auto;
    top: 30%;
  }
  
  /*댕댕케어 버튼*/
  #petbtn {
    color: #131313;
    border: #ed8b9e solid ;
    background-color: #ed8b9e;
    width: 200px;
    height: 50px;
    font: 500;
    font-weight: 700;
    position: static;
    top: 20%;
  
  }
  .map {
    width: 60%;
  }
  
  
  
  
  
  
  

  